{% extends "base.html" %}
{% load static %}

{% block extra_title %} 
| Home
{% endblock %} 

{% block content %}

<!--- Hero image -->
<section>
    <div class="container-fluid hero-img">
        <div class="row">
            <div class="col-10 text-right pt-sm-3 pt-md-5 mt-sm-3 my-md-5">
                <h1 class="display-5 font-weight-bolder mt-5">Beautifully dried floral arrangements.</h1>
                <p class="lead lead-home">Created with love, designed to last.</p>
                <div class="mt-sm-2 my-md-5"> 
                    <a href="{% url 'products' %}" class="callout-btn btn btn-lg rounded-3 py-md-2">Shop now</a>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- Why dry flowers section -->
<section class="mt-sm-3 mt-md-5 mb-3">
    <div class="container">
        <div class="text-center mb-sm-3 mb-md-5">
            <h2 class="section-title">Why Dry Flowers?</h2>
        </div>
        <div class="row text-center">
            <div class="col-12 col-md-4">
                <div class="pb-2"><i class="bi bi-hearts icn-home" aria-hidden="true"></i></div>
                <div>
                    <p class="info-text">Unique keepsake of special moments.</p>
                </div>
            </div>
            <div class="col-12 col-md-4">
                <div class="pb-2"><i class="bi bi-flower1 icn-home pb-2" aria-hidden="true"></i></div>
                <div>
                    <p class="info-text">Long-lasting, low-maintanance home decor.</p>
                </div>
            </div>
            <div class="col-12 col-md-4">
                <div class="pb-2"><i class="bi bi-shop icn-home pb-2" aria-hidden="true"></i></div>
                <div>
                    <p class="info-text">Sustainable and locally crafted.</p>
                </div>
            </div>
        </div>
        <hr class="mt-5">
    </div>
</section>

<!-- Our studio section -->
<section id="our-studio" class="mt-sm-3 mt-md-5">
    <div class="container">
        <div class="text-center mb-sm-3 mb-md-5"><h2 class="section-title">Our Studio</h2></div>
        <div class="row">
            <div class="col-12 col-md-6 text-center">
                <img src="{% static 'site-images/hush-daisies-owners.jpg' %}" alt="Photo of two female florist artists who own the shop" class="img-fluid">
            </div>
            <div class="col-12 col-md-6 pt-2 mt-sm-1 mt-md-0">
                <p>We are Alice and Lily, wife & wife, and we create dry flower bouquets, wreaths and home decorations from our cozy studio in the middle of north county Dublin.</p>
                <p>The idea for <span class="text-highlight">Hush Daises</span> was born 2 years ago, when we moved to Ireland from the hectic East London. Inspired by the abundance of natural beauty surrounding us, we started to (re-)discover the joy of creating, and soon we were spellbound by the art of drying and preserving flowers.</p>
                <p>We love how versitile dry flowers can be, and we create unique designs for home, special occassions, different seasons and even weddings! We hand-craft our arrangements with flowers and reeds that are sourced locally, with lots of love and attention to detail.</p>
                <p>Have a look at our ready-made bunches <span><a href="#"
                    aria-label="Browse all products in our shop."><span class="contact-link text-highlight">in our shop</span></a> or <span><a href="{% url 'send_query' %}"
                        aria-label="Contact us via a contact form."><span class="contact-link text-highlight"> get in touch with us</span></a> with a special request. We'd love to make something unique just for you.</p>
                <p>If you find yourself in the area, we regularly organise themed <span><a href="{% url 'show_workshops' %}"
                    aria-label="Go to see the list of all workshops."><span class="contact-link text-highlight"> workshops in Malahide</span>, so join us to learn a new skill or just to have some craic!</p>
            </div>
        </div>     
        <hr class="mt-5">
    </div>
</section>

<!-- Custom orders & contact section -->
<section id="custom-orders" class="mt-sm-3 mt-md-5 mb-3">
    <div class="container">
        <div class="text-center mb-sm-3 mb-md-5"><h2 class="section-title">Custom orders</h2></div>
        <div class="row">
            <div class="col-12 col-md-6 mt-sm-3 mt-md-4 pt-2">
                <p>We can create custom arrangements for weddings, events, hotels or gifts.</p>
                <p>Let us know a little more about your vision or the event, and let us create something special for you!</p>
                <div class="my-5"> 
                    <a href="{% url 'send_query' %}" class="callout-btn btn btn-lg rounded-3 py-2">Get in touch</a>
                </div>
              </div>
            <div class="col-12 col-md-6 mt-sm-3 mt-md-4 text-center">
                <img src="{% static 'site-images/custom-orders.jpg' %}" alt="" class="img-fluid">
            </div>
        </div>     
        <hr class="mt-5">
    </div>
</section>
<!-- As seen in press section -->
<section>
    <div class="container mt-sm-2 mt-md-5 mb-5">
        <div class="text-center mb-sm-3 mb-md-5">
            <h2 class="section-title">As Seen In</h2>
        </div>
        <div class="row">
            <div class="col-12 col-md-6 text-center mt-3 mb-5"><a href="https://onefabday.com/wedding-flowers/"
                    target="_blank" rel="noopener" aria-label="Visit One Fab Day page. Link opens in new tab"><img
                        src="{% static 'site-images/one-fab-day.png' %}" alt="Logo of the One Fab Day site."
                        class="img-fluid image-size"></a>
            </div>
            <div class="col-12 col-md-6 text-center mt-3 mb-5"><a href="https://www.ihil.net/" target="_blank"
                    rel="noopener" aria-label="Visit Ireland's Homes Interiors & Living magazine page. Link opens in new tab"><img
                        src="{% static 'site-images/ihil-home.jpg' %}" alt="Logo of the Ireland's Homes Interiors & Living site." class="img-fluid image-size"></a>
            </div>
        </div>
    </div>
</section>

<!-- Back to top button -->
<div class="back-to-top">
    <a id="top-link" class=" d-flex h-100" role="button" aria-label="Click the button to go back to the top of the page."><i class="bi bi-arrow-up-square top-icon px-2"></i></a>
</div>

{% endblock %}

{% block postloadjs %}
{{ block.super }}
<!-- Back to top button -->
<script>
    $('#top-link').click(function (e) {
        window.scrollTo(0,0);
    })
</script>
{% endblock %}