{% extends "base.html" %}
{% load static %}


{% block content %}

<!--- Hero image -->
<section>
    <div class="container-fluid hero-img">
        <div class="row pt-5">
            <div class="col-10 text-right pt-5 my-5">
                <h1 class="display-5 font-weight-bolder">Beautifully dried floral arrangements.</h1>
                <p class="lead lead-home">Created with love, designed to last.</p>
                <div class="my-5"> 
                    <a href="" class="callout-btn btn btn-lg rounded-3 py-2">Shop now</a>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- Why dry flowers section -->
<section>
    <div class="container-fluid mt-sm-3 mt-md-5 mb-3">
        <div class="text-center mb-sm-3 mb-md-5">
            <h2>Why Dry Flowers?</h2>
        </div>
        <div class="row text-center">
            <div class="col-12 col-md-4">
                <div class="pb-2"><i class="bi bi-hearts icn-home" aria-hidden="true"></i></div>
                <div>
                    <p class="info-text">Unique keepsake of special moments.</p>
                </div>
            </div>
            <div class="col-12 col-md-4">
                <div class="pb-2"><i class="bi bi-flower1 icn-home pb-2" aria-hidden="true"></i></div>
                <div>
                    <p class="info-text">Long-lasting, low-maintanance home decor.</p>
                </div>
            </div>
            <div class="col-12 col-md-4">
                <div class="pb-2"><i class="bi bi-shop icn-home pb-2" aria-hidden="true"></i></div>
                <div>
                    <p class="info-text">Sustainable and locally crafted.</p>
                </div>
            </div>
        </div>
    </div>
</section>

<section id="our-studio">
    <div>
        <h2>Our Studio</h2>
    </div>
</section>

<section>
    <div>
        <h2>As Seen In</h2>
    </div>
</section>

<section id="custom-orders">
    <div>
        <h2>Custom Orders</h2>
    </div>
</section>

{% endblock %}