{% extends "base.html" %}
{% load static %}


{% block content %}

<!--- Hero image -->
<section>
    <div class="container-fluid hero-img">
        <div class="row pt-5">
            <div class="col-10 text-right pt-5 my-5">
                <h1 class="display-5 font-weight-bolder">Beautifully dried floral arrangements.</h1>
                <p class="lead lead-home">Created with love, designed to last.</p>
                <div class="my-5"> 
                    <a href="" class="callout-btn btn btn-lg rounded-3 py-2">Shop now</a>
                </div>
            </div>
        </div>
    </div>
</section>

<section>
    <div>
        <h2>Why Dry Flowers?</h2>
    </div>
</section>

<section id="our-studio">
    <div>
        <h2>Our Studio</h2>
    </div>
</section>

<section>
    <div>
        <h2>As Seen In</h2>
    </div>
</section>

<section>
    <div>
        <h2>Custom Orders</h2>
    </div>
</section>

{% endblock %}