{% extends "base.html" %}
{% load static %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'profiles/css/profile.css' %}">
{% endblock %}

{% block extra_title %}
| My Profile
{% endblock %}

{% block content %}
<section>
    <div class="container">
        <!-- Checkout heading -->
        <div class="row">
            <div class="col mt-sm-3 mt-md-5 mb-md-5">
                <h1 class="page-title pb-1">My Profile</h1>
            </div>
        </div>
        <div class="row">
            <div class="col-12 col-md-6 pt-2">
                <h2 class="summary-title text-uppercase ">My Workshops</h2>
                <!-- If items saved on the favourite list display table -->
                {% if favourites|length != 0 %}
                <!-- Table with favourite workshops -->
                <div class="table-responsive">
                    <table class="table table-sm table-borderless">
                        <!-- Headings -->
                        <thead>
                            <tr>
                                <th></th>
                                <th>Workshop Name</th>
                                <th>Date</th>
                                <th>Location</th>
                            </tr>
                        </thead>
                        <!-- Table body, iterate through workshops -->
                        <tbody>
                            {% for workshop in favourites %}
                            <tr>
                                <td class="align-middle">
                                    <!-- If there's a workshop image, display the image; otherwise display a placeholder -->
                                    {% if workshop.image %}
                                    <img class="img-fluid" style="width: 5rem" src="{{ workshop.image.url }}"
                                        alt="{{ workshop.name }}">
                                    {% else %}
                                    <img class="img-fluid" style="width: 5rem" src="{{ MEDIA_URL }}noimage.png"
                                        alt="{{ workshop.name }}">
                                    {% endif %}
                                </td>
                                <td class="align-middle">
                                    <!-- Workshop name links to workshop detal -->
                                    <a href="{% url 'workshop_details' workshop.id %}" title="{{ workshop.name }}"
                                        class="small admin-link">
                                        {{ workshop.name }}
                                    </a>
                                </td class="align-middle">
                                <td class="small align-middle">{{ workshop.date|date:'d M Y' }}</td>
                                <td class="small align-middle">{{ workshop.location }}</td>
                                <td class="small align-middle">
                                    <form action="{% url 'workshop_favourites' workshop.id %}" method="POST">
                                        {% csrf_token %}
                                        <button type="submit" value="{{ workshop.id }}" name="workshop_id" class="btn-fav">
                                            {% if workshop in favourites_list.workshop.all %}
                                            <i class="bi bi-bookmark-heart-fill"></i>
                                            {% else %}
                                            <i class="bi bi-bookmark-heart"></i>
                                            {% endif %}
                                        </button>
                                        <input type="hidden" name="redirect_url" value="{{ request.path }}">
                                    </form>
                                </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
                {% else %}
                <!-- If no workshops saved -->
                <div>
                    <p class="mb-4">Looks like you haven't saved anything yet...</p>
                    <p><a href="{% url 'show_workshops' %}" class="btn btn-sm action-btn">See workshops</a></p>
                </div>
                {% endif %}
            </div>
            <div class="col-12 col-md-6">
                <div class="mb-5 pt-2">
                    <h2 class="summary-title text-uppercase">My Delivery Details</h2>
                    <form class="mt-3" action="{% url 'profile' %}" method="POST" id="profile-update-form">
                        {% csrf_token %}
                        {{ form|crispy }}
                        <button class="btn btn-sm action-btn">Update</button>
                    </form>
                </div>
                <div class="mb-5">
                    <h2 class="summary-title text-uppercase">My Order History</h2>
                    {% if orders %}
                    <!-- Table with orders -->
                    <div class="past-orders table-responsive">
                        <table class="table table-sm table-borderless">
                            <!-- Headings -->
                            <thead>
                                <tr>
                                    <th>Order Number</th>
                                    <th>Date</th>
                                    <th>Items</th>
                                    <th>Order Total</th>
                                </tr>
                            </thead>
                            <!-- Table body, iterate through order items and generate row per order-->
                            <tbody>
                                {% for order in orders %}
                                <tr>
                                    <td>
                                        <!-- Order number links to previous order -->
                                        <a href="{% url 'past_order' order.order_number %}"
                                            title="{{ order.order_number }}" class="small admin-link">
                                            {{ order.order_number|truncatechars:6}}
                                        </a>
                                    </td>
                                    <td class="small">{{ order.date|date:'d M Y' }}</td>
                                    <!-- Orders list -->
                                    <td>
                                        <ul class="list-unstyled">
                                            {% for item in order.lineitems.all %}
                                            <li class="small">
                                                {{ item.product.name|title }} x {{ item.quantity }}
                                            </li>
                                            {% endfor %}
                                        </ul>
                                    </td>
                                    <td class="small">€{{ order.grand_total }}</td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                    {% else %}
                    <!-- If no order history -->
                    <div>
                        <p class="mb-4">Looks like you haven't placed any orders yet...</p>
                        <p><a href="{% url 'products' %}" class="btn btn-sm action-btn">Start shopping</a></p>
                    </div>
                    {% endif %}
                </div>
            </div>
        </div>
</section>

<!-- Back to top button -->
<div class="back-to-top">
    <a id="top-link" class=" d-flex h-100" role="button" aria-label="Click the button to go back to the top of the page."><i class="bi bi-arrow-up-square top-icon px-2"></i></a>
</div>

{% endblock %}

{% block postloadjs %}
    {{ block.super }}
<!-- Countryfield colour change -->
<script type="text/javascript" src="{% static 'profiles/js/countryfield.js' %}"></script>

{% endblock %}