{% extends "base.html" %}
{% load static %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'profiles/css/profile.css' %}">
{% endblock %}

{% block extra_title %}
| My Profile
{% endblock %}

{% block content %}
<section>
    <div class="container">
        <!-- Checkout heading -->
        <div class="row">
            <div class="col mt-sm-3 mt-md-5 mb-5">
                <h1 class="page-title pb-1">My Profile</h1>
            </div>
        </div>
</section>

<!-- Back to top button -->
<div class="back-to-top">
    <a id="top-link" class=" d-flex h-100" role="button" aria-label="Click the button to go back to the top of the page."><i class="bi bi-arrow-up-square top-icon px-2"></i></a>
</div>

{% endblock %}

{% block postloadjs %}
    {{ block.super }}
<!-- Back to top button -->
<script type="text/javascript">
    $('#top-link').click(function (e) {
        window.scrollTo(0,0);
    })
</script>
{% endblock %}