{% extends "base.html" %}
{% load static %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'checkout/css/checkout.css' %}">
{% endblock %}

{% block extra_title %}
| Thank you!
{% endblock %}

{% block content %}
<section>
    <div class="container">
        <!-- Checkout heading -->
        <div class="row">
            <div class="col mt-sm-3 mt-md-5 mb-3">
                <h1 class="page-title pb-1">Thank You!</h1>
                <p class="mt-5 text-break">Below you'll find the summary of your order <strong>{{ order.order_number }}</strong>.</p>
                <p>We have also sent an order confirmation via email to <strong>{{ order.email }}</strong></p>
            </div>
        </div>
        <div class="row">
            <!-- Oder summary -->
            <div class="col-12 col-lg-7">
                <!-- Wrapper for order summary -->
                <div class="checkout-success-wrapper">
                    <!-- Order info -->
                    <div class="row">
                        <div class="col">
                            <p class="checkout-success-title text-center mb-4">Order Info</p>
                        </div>
                    </div>
                    <div class="row mt-2">
                        <div class="col-12 col-md-4">
                            <p class="mb-0 checkout-heading">Order Number</p>
                        </div>
                        <div class="col-12 col-md-8 text-md-right">
                            <p class="mb-0 text-break">{{ order.order_number }}</p>
                        </div>
                    </div>
                    <div class="row mt-2">
                        <div class="col-12 col-md-4">
                            <p class="mb-0 checkout-heading">Order Date</p>
                        </div>
                        <div class="col-12 col-md-8 text-right">
                            <p class="mb-0">{{ order.date }}</p>
                        </div>
                    </div>
                    <hr class="divider">
                    <!-- Order details -->
                    <div class="row">
                        <div class="col">
                            <p class="mt-1 checkout-success-section">Order Summary</p>
                        </div>
                    </div>
                    <!-- Iterate through items in order -->
                    {% for item in order.lineitems.all %}
                    <div class="row mt-1">
                        <div class="col-12 col-md-4">
                            <p class="mb-0 checkout-heading product-title">{{ item.product.name }}</p>
                        </div>
                        <div class="col-12 col-md-8 text-md-right">
                            <p class="mb-0"><span class="text-muted">Qty:</span> {{ item.quantity }} @ €{{ item.product.price }} each</p>
                        </div>
                    </div>
                    {% endfor %}
                    <hr class="divider">
                    <!-- Delivery details -->
                    <div class="row">
                        <div class="col">
                            <p class="mt-1 checkout-success-section">Delivery Details</p>
                        </div>
                    </div>
                    <div class="row mt-1">
                        <div class="col-12 col-md-4">
                            <p class="mb-0 checkout-heading">Full Name</p>
                        </div>
                        <div class="col-12 col-md-8 text-right">
                            <p class="mb-0 ">{{ order.full_name }}</p>
                        </div>
                    </div>
                    <div class="row mt-2">
                        <div class="col-12 col-md-4">
                            <p class="mb-0 checkout-heading">Email</p>
                        </div>
                        <div class="col-12 col-md-8 text-right">
                            <p class="mb-0 ">{{ order.email }}</p>
                        </div>
                    </div>
                    <div class="row mt-2">
                        <div class="col-12 col-md-4">
                            <p class="mb-0 checkout-heading">Phone Number</p>
                        </div>
                        <div class="col-12 col-md-8 text-right">
                            <p class="mb-0 ">{{ order.phone_number }}</p>
                        </div>
                    </div>
                    {% if order.house_number_or_name %}
                    <div class="row mt-2">
                        <div class="col-12 col-md-4">
                            <p class="mb-0 checkout-heading">House No or Name</p>
                        </div>
                        <div class="col-12 col-md-8 text-right">
                            <p class="mb-0 ">{{ order.house_number_or_name }}</p>
                        </div>
                    </div>
                    {% endif %}
                    <div class="row mt-2">
                        <div class="col-12 col-md-4">
                            <p class="mb-0 checkout-heading">Street Address 1</p>
                        </div>
                        <div class="col-12 col-md-8 text-right">
                            <p class="mb-0 ">{{ order.street_address_1 }}</p>
                        </div>
                    </div>
                    {% if order.street_address_2 %}
                    <div class="row mt-2">
                        <div class="col-12 col-md-4">
                            <p class="mb-0 checkout-heading">Street Address 2</p>
                        </div>
                        <div class="col-12 col-md-8 text-right">
                            <p class="mb-0 ">{{ order.street_address_2 }}</p>
                        </div>
                    </div>
                    {% endif %}
                    <div class="row mt-2">
                        <div class="col-12 col-md-4">
                            <p class="mb-0 checkout-heading">Town or City</p>
                        </div>
                        <div class="col-12 col-md-8 text-right">
                            <p class="mb-0 ">{{ order.town_or_city }}</p>
                        </div>
                    </div>
                    {% if order.postcode %}
                    <div class="row mt-2">
                        <div class="col-12 col-md-4">
                            <p class="mb-0 checkout-heading">Postcode</p>
                        </div>
                        <div class="col-12 col-md-8 text-right">
                            <p class="mb-0 ">{{ order.postcode }}</p>
                        </div>
                    </div>
                    {% endif %}
                    {% if order.county %}
                    <div class="row mt-2">
                        <div class="col-12 col-md-4">
                            <p class="mb-0 checkout-heading">County</p>
                        </div>
                        <div class="col-12 col-md-8 text-right">
                            <p class="mb-0 ">{{ order.county }}</p>
                        </div>
                    </div>
                    {% endif %}
                    <div class="row mt-2">
                        <div class="col-12 col-md-4">
                            <p class="mb-0 checkout-heading">Country</p>
                        </div>
                        <div class="col-12 col-md-8 text-right">
                            <p class="mb-0 ">{{ order.country }}</p>
                        </div>
                    </div>
                    <hr class="divider">
                    <!-- Billing details -->
                    <div class="row">
                        <div class="col">
                            <p class="mt-1 checkout-success-section">Billing Details</p>
                        </div>
                    </div>
                    <div class="row mt-1">
                        <div class="col-12 col-md-4">
                            <p class="mb-0 checkout-heading">Order Total</p>
                        </div>
                        <div class="col-12 col-md-8 text-right">
                            <p class="mb-0 ">{{ order.order_total }}</p>
                        </div>
                    </div>
                    <div class="row mt-2">
                        <div class="col-12 col-md-4">
                            <p class="mb-0 checkout-heading">Delivery Cost</p>
                        </div>
                        <div class="col-12 col-md-8 text-right">
                            <p class="mb-0 ">{{ order.delivery_cost }}</p>
                        </div>
                    </div>
                    <div class="row mt-2">
                        <div class="col-12 col-md-4">
                            <p class="mb-0 checkout-heading">Grand total</p>
                        </div>
                        <div class="col-12 col-md-8 text-right">
                            <p class="mb-0 ">{{ order.grand_total }}</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12 col-lg-7 text-left">
                {% if from_profile %}
                <!-- Back to profle button -->
                <a href="{% url 'profile' %}" class="action-btn btn-sm btn rounded-3 py-2 my-5">Back to my profile</a>
                {% else %}
                <!-- Back to shop button -->
                <a href="{% url 'products' %}" class="action-btn btn-sm btn rounded-3 py-2 my-5">Keep shopping</a>
                {% endif %}
            </div>
        </div>
    </div>
</section>

<!-- Back to top button -->
<div class="back-to-top">
    <a id="top-link" class=" d-flex h-100" role="button" aria-label="Click the button to go back to the top of the page."><i class="bi bi-arrow-up-square top-icon px-2"></i></a>
</div>

{% endblock %}

{% block postloadjs %}
{{ block.super }}
<!-- Back to top button -->
<script type="text/javascript">
    $('#top-link').click(function (e) {
        window.scrollTo(0,0);
    })
</script>
{% endblock %}