{% extends "base.html" %}
{% load static %}


{% block content %}
<section>
    <div class="container ">
        <!-- Shopping basket heading -->
        <div class="row">
            <div class="col mt-sm-3 mt-md-5 mb-5">
                <h1 class="page-title pb-1">Your shopping basket</h1>
            </div>
        </div>
        <!-- Basket contents -->
        {% if basket_items %}
        <div class="row">
            <div class="col">Item</div>
            <div class="col">Product title</div>
            <div class="col">Price</div>
            <div class="col">Qty</div>
            <div class="col">Subtotal</div>
            <div class="col">Remove</div>            
        </div>
        <div class="row mt-5">
            <div class="col text-right">
                <p>Basket total:</p>
                <p>Delivery:</p>
                <p>Grand total:</p>
                <div>Free delivery on orders over {{ free_delivery_treshold }}</div>
            </div>
        </div>
        {% else %}
        <div class="row">
            <div class="col">
                <p class="lead mt-5">No items in your basket.</p>
                <p class="my-5">
                    <a href="{% url 'products' %}" class="btn action-btn py-2">Add something!</a>
            </div>
        </div>
        {% endif %}
    </div>
</section>

<!-- Back to top button -->
<div class="back-to-top">
    <a id="top-link" class=" d-flex h-100" role="button" aria-label="Click the button to go back to the top of the page."><i class="bi bi-arrow-up-square top-icon px-2"></i></a>
</div>

{% endblock %}

{% block postloadjs %}
{{ block.super }}
<!-- Back to top button -->
<script>
    $('#top-link').click(function (e) {
        window.scrollTo(0,0);
    })
</script>
{% endblock %}