{% extends "base.html" %}
{% load static %}


{% block content %}
<section>
    <div class="container ">
        <!-- Shopping basket heading -->
        <div class="row">
            <div class="col mt-sm-3 mt-md-5 mb-5">
                <h1 class="page-title pb-1">Your shopping basket</h1>
            </div>
        </div>
        <!-- Basket contents -->
        {% if basket_items %}
        {% for item in basket_items %}
        <div class="row">
            <!-- Image -->
            <div class="col-12 col-md-2">
                <img class="image-fluid img-thumbnail w-100" src="{% if item.product.image %}{{ item.product.image.url }}{% else %}{{ MEDIA_URL }}noimage.png{% endif %}" 
                alt="{% if item.product.image %}Photo of {{ item.product.image.url }}{% else %} No product image yet {% endif %}">
            </div>
            <!-- Product name -->
            <div class="col-12 col-md-2 align-self-center"><p class="my-0 teal-text"><strong>{{ item.product.name }}</strong></p></div>
            <div class="col-12 col-md-2 align-self-center"><p class="my-0">€{{ item.product.price }} each</p></div>
            <div class="col-12 col-md-3 align-self-center"><p class="my-0">{{ item.quantity }}</p></div>
            <div class="col-12 col-md-2 align-self-center"><p class="my-0">Subtotal</p></div>
            <div class="col-12 col-md-1 align-self-center">
                <p class="my-0"><a href=""><i class="bi bi-trash" aria-hidden="true"></i></a></p>
            </div>
        </div>
        <hr class="divider pb-3">
        {% endfor %}
        <div class="row mt-5 mb-5">
            <!-- Order summary -->
            <div class="col text-right">
                <p><span><strong>Basket total:</strong></span> <span class="pl-2">€{{ total|floatformat:2 }}</span></p>
                <p><span><strong>Delivery:</strong></span> <span class="pl-2">€{{ delivery|floatformat:2 }}</span></p>
                <p><span><strong>Grand total:</strong></span> <span class="pl-2">€{{ grand_total|floatformat:2 }}</span></p>
                {% if free_delivery_countdown > 0 %}
                <p class="mb-0 font-italic">Did you know we offer free delivery on orders over €{{ free_delivery_treshold }}?
                <p class="font-italic">Spend <span class="teal-text"><strong>€{{ free_delivery_countdown }}</strong></span> more to save on delivery costs!</p>
                {% endif %}
            </div>
            <div class="col-12 text-right">
                <!-- Keep shopping button -->
                <a href="{% url 'products' %}" class="btn-inverted btn-sm btn rounded-3 py-2 mr-1">Keep shopping</a>
                <!-- Secure checkout button -->
                <a href="#" class="action-btn btn-sm btn rounded-3 py-2"><span>Secure checkout</span> <span><i class="bi bi-lock-fill" aria-hidden="true"></i></span></a>
            </div>
        </div>
        {% else %}
        <div class="row">
            <div class="col">
                <p class="lead mt-5">No items in your basket.</p>
                <p class="my-5">
                    <a href="{% url 'products' %}" class="btn action-btn py-2">Add something!</a>
            </div>
        </div>
        {% endif %}
    </div>
</section>

<!-- Back to top button -->
<div class="back-to-top">
    <a id="top-link" class=" d-flex h-100" role="button" aria-label="Click the button to go back to the top of the page."><i class="bi bi-arrow-up-square top-icon px-2"></i></a>
</div>

{% endblock %}

{% block postloadjs %}
{{ block.super }}
<!-- Back to top button -->
<script>
    $('#top-link').click(function (e) {
        window.scrollTo(0,0);
    })
</script>
{% endblock %}