html, body {
    height: 100%;
}

/*------------------------------------ General*/

h1, h2, .lead-home {
    color: #2B5357;
}

body {
    font-family: 'Open Sans', sans-serif;
    color: #1C1C1C;
    background-color: white;
}

/* remove link decoration and set colour to inherit */
a,
a:hover,
a:active,
a:focus {
    text-decoration: none;
    color: inherit;
}

/*------------------------------------ Home*/
.hero-img {
    background-image: url(../../media/background-image.jpg);
    height: 95vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.callout-btn {
    background-color: #2B5357;
    color: white;
}

.callout-btn:hover,
.callout-btn:active,
.callout-btn:focus {
    font-size: 1.5rem;
    color: white;
}


/*------------------------------------ Navigation*/
.nav-background {
    background-color:#2B5357;
}

.logo-icon {
    color: #D1A9AF !important;
}

.logo {
    font-size: 2.2rem;
    font-weight: bolder;
    letter-spacing: 2px;
    color: white !important;
}

.main-nav-link {
    font-size: 1.5rem;
    color: white !important;
}

.logged-in {
    font-weight: bolder;
    color: white;
    letter-spacing: 2px;
}

#custom-order-banner {
    background-color: #D1A9AF;
    color: #2B5357;
    font-style: italic;
    font-weight: bolder;
}

.contact-link {
    text-decoration: underline;
}
/*------------------------------------ Footer*/

.footer-text,
.footer-link {
    color: white;
    font-size: 0.9rem;
}

.footer-link:hover,
.footer-link:active,
.footer-link:focus {
    font-size: 1.1rem;
}

.footer-icon {
    font-size: 1.2rem;
}

.footer-icon:hover,
.footer-icon:active,
.footer-icon:focus {
    font-size: 1.6rem;
}

.footer-heading {
    font-weight: bolder;
    letter-spacing: 2px;
}

.icn-home {
    font-size: 2rem;
    color: #D1A9AF;
    font-weight: bolder;
}