.icn-workshop {
    font-size: 1.1rem;
    color: #D1A9AF;
    font-weight: bolder;
    padding-right: 1rem;
    font-style: normal;
}

.icn-save {
    font-size: 1.2rem;
    color: #2B5357;
    font-weight: bolder;
    margin-top: .2rem;
    padding-right: 1rem;
    font-style: normal;
}