.StripeElement,
.stripe-style-input {
    box-sizing: border-box;
    letter-spacing: 2px;
    height: 40px;
    padding: 10px 12px;
    border: 1px solid rgba(50, 50, 93, 0.1);
    border-radius: 4px;
    background: white;
    box-shadow: 0px 0px 0px 0.5px rgba(43, 83, 89, 0.1),
    0px 2px 5px 0px rgba(43, 83, 89, 0.1), 0px 1px 1.5px 0px rgba(0, 0, 0, 0.07);
}

.StripeElement--focus,
.stripe-style-input:focus,
.stripe-style-input:active {
    box-shadow: 0 1px 3px 0 #2B5357;
}

.StripeElement--invalid {
    color: #D1A9AF !important;
}

.StripeElement--webkit-autofill {
    background-color: #fefde5 !important;
}

.stripe-style-input::placeholder {
    color: #aab7c4;
    letter-spacing: 2px;
}