<!-- Delete workshop modal -->
<div class="modal fade" id="deleteWorkshopModal{{ workshop.id }}" tabindex="-1"
    aria-labelledby="deleteWorkshopModalLabel{{ workshop.id }}" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="deleteWorkshopModalLabel{{ workshop.id }}">Delete workshop</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close message">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>Are you sure you want to delete <span class="text-uppercase">{{ workshop.name }}</span> workshop?
                </p>
                <p><strong>This action cannot be undone.</strong></p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                <form action="{% url 'delete_workshop' workshop.id %}" method="POST">
                    {% csrf_token %}
                    <button type="submit" value="{{ workshop.id }}" name="workshop_id"
                        class="btn btn-primary">Delete</button>
                </form>
            </div>
        </div>
    </div>
</div>