{% extends "base.html" %}
{% load static %}

{% block extra_title %}
| Contact Us
{% endblock %}

{% block content %}
<section>
    <div class="container">
        <!-- Queries form heading -->
        <div class="row">
            <div class="col col-md-6 mt-sm-3 mt-md-5 mb-5">
                <h1 class="page-title pb-1">Send us a message</h1>
            </div>
        </div>
        <div class="row">
            <!-- Custom requests form, crispy form -->
            <div class="col col-md-6">
                <h4 class="section-title teal-text mb-4">Ask us anything</h2>
                <form method="POST" action="{% url 'send_query' %}" class="form mb-3">
                    {% csrf_token %}
                    {% for field in form %}
                        {{ field | as_crispy_field }}
                    {% endfor %}
                <div class="text-right mb-5">
                    <a class="btn btn-sm btn-inverted" href="{% url 'products' %}">Check out our Florals</a>
                    <button class="btn btn-sm action-btn" type="submit">Submit</button>
                </div>
                </form>
            </div>
        </div>
    </div>
</section>

{% endblock %}