{% extends "base.html" %}
{% load static %}

{% block extra_title %}
| Add a workshop
{% endblock %}

{% block content %}
<section>
    <div class="container">
        <!-- Add workshop form heading -->
        <div class="row">
            <div class="col col-md-6 mt-sm-3 mt-md-5 mb-sm-2 mb-md-5">
                <h1 class="page-title pb-1">Workshop Management</h1>
            </div>
        </div>
        <div class="row">
            <!-- Workshop form, crispy form -->
            <div class="col col-md-6">
                <h4 class="section-title teal-text mb-4">Add new workshop</h2>
                <form method="POST" action="{% url 'add_workshop' %}" class="form mb-3" enctype="multipart/form-data">
                    {% csrf_token %}
                    {% for field in form %}
                        {% if field.name != 'image' %}
                            {{ field | as_crispy_field }}
                        {% else %}
                            {{ field }}
                        {% endif %}
                    {% endfor %}
                <div class="text-right mb-5">
                    <button class="btn btn-sm action-btn mt-2" type="submit">Add Workshop</button>
                    <a class="btn btn-sm btn-inverted mt-2" href="{% url 'show_workshops' %}">Back to Workshops</a>
                </div>
                </form>
            </div>
        </div>
    </div>
</section>

{% endblock %}

{% block postloadjs %}
    {{ block.super }}
    <!-- Show file name once chosen for file input field on form -->
    <script type="text/javascript">
        $('#new-image').change(function() {
            var file = $('#new-image')[0].files[0];
            $('#filename').text(`Image will be set to: ${file.name}`);
        });
    </script>
{% endblock %}