{% extends "base.html" %}
{% load static %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'workshops/css/workshops.css' %}">
{% endblock %}

{% block extra_title %}
| {{ product.name }}
{% endblock %}

{% block content %}
<!--  Workshop details section -->
<section>
    <div class="container-fluid px-5 mt-sm-5 mt-md-5 mb-5">
        <!-- Image and workshop details columns -->
        <div class="row">
            <div class="col-12 col-md-6 col-lg-4 offset-lg-2 mt-5 text-center">
                <!-- If there's a workshop image, display the image; otherwise display a placeholder -->
                {% if workshop.image %}
                <img class="img-fluid" src="{{ workshop.image.url }}" alt="{{ workshop.name }}">
                {% else %}
                <img class="img-fluid" src="{{ MEDIA_URL }}noimage.png" alt="{{ workshop.name }}">
                {% endif %}
                <!-- Testimonial count -->
                <div class="col-12 text-right mt-4">
                    {% with workshop_testimonials.count as total_testimonials %}
                    <strong><i class="bi bi-chat teal-text" aria-hidden="true"></i> {{ total_testimonials }}</strong>
                    {% endwith %}
                </div>
            </div>
            <!-- Workshop description -->
            <div class="col-12 col-md-6 col-lg-4">
                <div class="mt-sm-3 mb-5 mt-md-5">
                    <h2 class="mb-3 product-title">{{ workshop.name }}</h2>
                    <p class="text-left mt-0"><i class="bi bi-geo-alt-fill icn-workshop"></i> {{ workshop.location }}</p>
                    <p class="text-left mt-0"><i class="bi bi-clock-fill icn-workshop"></i> {{ workshop.date }} starts at {{ workshop.start_time }}</p>
                    <p class="text-left mt-0"><i class="bi bi-flower1 icn-workshop"></i> {{ workshop.level.friendly_name }}</p>
                    <p class="text-left price-tag mt-0"><i class="bi bi-currency-euro icn-workshop"></i> {{ workshop.workshop_fee }}</p>
                    <div class="text-right">
                        <a href="#"><i class="bi bi-bookmark-heart float-left icn-save p-1"><span class="small font-weight-bold"> Add to favourites</span></i></a>
                        <a href="#" class="btn btn-sm action-btn" role="button" aria-label="Click the button to send an email to store owner">Save your spot</a>
                    </div>
                    <hr class="divider w-100">
                    <p>{{ workshop.description }}</p>
                    {% if request.user.is_superuser %}
                    <h5 class="text-left section-title small mt-4">Manage workshop:</h5>
                    <a class="small admin-link text-info pr-2" href="{% url 'edit_workshop' workshop.id %}">EDIT</a>
                    <a class="small admin-link text-danger pl-2" role="button" data-toggle="modal"
                    data-target="#deleteWorkshopModal{{ workshop.id }}">DELETE</a>
                    {% endif %}
                </div>
                <!-- Delete modal -->
                {% include 'workshops/includes/delete_workshop_modal.html' %}
            </div>
        </div>
        <!-- Testimonials -->
        <div class="row">
            <div class="col-12 col-md-6 col-lg-4 offset-lg-2 mb-2 mt-1">
                <hr class="divider">
            </div>
        </div>
        <div class="container mb-3">
            <div class="row">
                <div class="col-md-8 card card-detail">
                    <h5 class="section-title teal-text font-weight-bold">Testimonials</h5>
                    <div class="card-body">
                        {% if not workshop_testimonials.all %}
                        <p>No comments yet...</p>
                        {% else %}
                        {% for testimonial in workshop_testimonials %}
                        <p><strong>{{ testimonial.reviewer }}</strong> on <span>{{ testimonial.date_added }}</span> wrote:</p>
                        {{ testimonial.testimonial_body | linebreaks }}
                        <!-- Testimonial managements -->
                        {% if request.user.is_authenticated %}
                        {% if request.user == testimonial.reviewer %}
                        <div class="mb-3">
                        <a class="small admin-link text-info pr-2" href="{% url 'edit_testimonial' testimonial.id %}">EDIT</a>
                        <a class="small admin-link text-danger pl-2" role="button" data-toggle="modal"
                            data-target="#deleteTestimonialModal{{ testimonial.id }}">DELETE</a>
                        </div>
                        {% endif %}
                        {% endif %}
                        <!-- Delete modal -->
                        {% include 'workshops/includes/delete_testimonial_modal.html' %}
                        {% endfor %}
                        {% endif %}
                    </div>
                </div>
                <div class="col-md-4 card card-detail mt-4 mb-4">
                    <div class="card-body">
                        <!-- Comment box only appears if user is logged in -->
                        {% if user.is_authenticated %}
                        <h5 class="section-title teal-text">Say something...</h5>
                        <p>Posting as: <strong>{{ user.username }}</strong></p>
                        <form method="POST">
                            <!-- Token to protect the form from attackers -->
                            {% csrf_token %}
                            <!-- Rendering the form using the crispy filter for formatting -->
                            {{ form | crispy }}
                            <button type="submit" value="Submit" class="btn action-btn btn-sm">Add</button>
                        </form>
                        {% else %}
                        <p><em>Do you want to write a testimonial or add a comment?</em></p>
                        <a href="{% url 'account_login' %}" class="btn btn-sml action-btn" role="button"
                        aria-label="Click the button to go to login form.">Sign in</a>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <!-- Back to all workshops link -->
            <div class="col-12 col-md-6 col-lg-4 offset-lg-2 mt-3 mb-5">
                <a class="back-link" href="{% url 'show_workshops' %}"><i class="bi bi-chevron-left" aria-hidden="true"></i> Back to all
                    workshops</a>
            </div>
        </div>
    </div>
</section>

<!-- Back to top button -->
<div class="back-to-top">
    <a id="top-link" class="d-flex h-100" role="button"
        aria-label="Click the button to go back to the top of the page."><i
            class="bi bi-arrow-up-square top-icon px-2"></i></a>
</div>

{% endblock %}

