{% extends "base.html" %}
{% load static %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'workshops/css/workshops.css' %}">
{% endblock %}

{% block extra_title %}
| Workshops
{% endblock %}

{% block content %}
<!--  All workshops section -->
<section class="mt-sm-3 mt-md-5 mb-3">
    <div class="container-fluid">
        <!-- Page title with horizontal divider of 50% width -->
        <div class="row">
            <div class="col text-center">
                <h1 class="section-title">Workshops</h1>
                <hr class="divider w-50">
            </div>
        </div>
        <!-- Workshop container -->
        <div class="row">
            <div class="product-container col-10 offset-1">
                <!-- Workshop intro  -->
                <div class="row mb-5">
                    <div class="col text-center">
                        <p class="mb-1">Hi {% if user.is_authenticated %}<span class="text-highlight">{{ user.username }}</span> {% else %}<span class="text-highlight">there</span>{% endif %}!</p>
                        <p>Do you want to learn more about drying, preserving and arranging flowers?</p>
                        <p class="mb-1">How about making your own unique Christmas wreath that will last many years?</p>
                        <p class="mb-1">Join us at one of our workshops to master a new skill or simply hang out with
                            like-minded people.</p>
                        <p class="mb-1">Browse the list of all workshops and <span><a href="{% url 'send_query' %}"
                            aria-label="Contact us via a contact form."><span class="contact-link text-highlight"> get in touch with us</span></a> if you want us to save
                            a spot for you.</p>
                        <p class="mb-1 mt-4">We'd love to meet you!</p>
                    </div>
                </div>
                <!-- Workshop categories  -->
                <div class="row mb-5"></div>
                <!-- Beginning of workshop row loop  -->
                <!-- Sorting -->
                <div class="row">
                    <div class="col-12 col-md-4 mb-5 offset-lg-2">
                        <select id="workshop-sorting-selector" class="custom-select custom-select-sm" aria-label="Sorting options">
                            <option value="reset" {% if current_sorting == 'None_None' %}selected{% endif %}>Sort by...</option>
                            <option value="name_asc" {% if current_sorting == 'name_asc' %}selected{% endif %}>Name (A-Z)</option>
                            <option value="name_desc" {% if current_sorting == 'name_desc' %}selected{% endif %}>Name (Z-A)</option>
                            <option value="workshop_fee_asc" {% if current_sorting == 'workshop_fee_asc' %}selected{% endif %}>Workshop fee (low to high)</option>
                            <option value="workshop_fee_desc" {% if current_sorting == 'workshop_fee_desc' %}selected{% endif %}>Workshop fee (high to low)</option>
                            <option value="level_asc" {% if current_sorting == 'level_asc' %}selected{% endif %}>Level (A-Z)</option>
                            <option value="level_desc" {% if current_sorting == 'level_desc' %}selected{% endif %}>Level (Z-A)</option>
                            <option value="location_asc" {% if current_sorting == 'location_asc' %}selected{% endif %}>Location (A-Z)</option>
                            <option value="location_desc" {% if current_sorting == 'location_desc' %}selected{% endif %}>Location (Z-A)</option>
                        </select>
                    </div>
                    <!-- Search result count -->
                    <div class="col-12 col-md-4 text-right">
                        <p>{{ workshops|length }} workshops</p>
                    </div>
                </div>
                <div class="row">
                    <!-- For each workshop generate a column with a Bootstrap card -->
                    {% if workshops %}
                    {% for workshop in workshops %}
                    <div class="col-sm-6 col-md-6 col-lg-3 mb-5 offset-lg-2">
                        <div class="card h-100 border-0">
                            <!-- If there's a workshop image, display the image; otherwise display a placeholder -->
                            {% if workshop.image %}
                            <a href="{% url 'workshop_details' workshop.id %}"><img class="card-img-top img-fluid" src="{{ workshop.image.url }}"
                                    alt="{{ workshop.name }}"></a>
                            {% else %}
                            <a href="{% url 'workshop_details' workshop.id %}"><img class="card-img-top img-fluid" src="{{ MEDIA_URL }}noimage.png"
                                    alt="{{ workshop.name }}"></a>
                            {% endif %}
                            <!-- Card body with name & category -->
                            <div class="card-body pt-3 px-1">
                                <h5 class="card-title product-title mb-2"><a href="{% url 'workshop_details' workshop.id %}">{{ workshop.name }}</a></h5>
                            </div>
                            <!-- Card footer with price & admin product management links -->
                            <div class="card-footer border-0 pt-0 bg-white text-left">
                                <div class="row">
                                    <div class="col px-0">
                                        <p class="text-left mt-0"><i class="bi bi-geo-alt-fill icn-workshop"></i> {{ workshop.location }}</p>
                                        <p class="text-left mt-0"><i class="bi bi-clock-fill icn-workshop"></i> {{ workshop.date }} starts at {{ workshop.start_time }}</p>
                                        <p class="text-left mt-0"><i class="bi bi-flower1 icn-workshop"></i> {{ workshop.level.friendly_name }}</p>
                                        <p class="text-left price-tag mt-0"><i class="bi bi-currency-euro icn-workshop"></i> {{ workshop.workshop_fee }}</p>
                                        <a href="{% url 'send_query' %}" class="btn btn-sm action-btn" role="button" aria-label="Click the button to send an email to store owner">Save your spot</a>
                                        {% if request.user.is_superuser %}
                                        <h5 class="text-left section-title small mt-3">Manage workshop:</h5>
                                        <a class="small admin-link text-info pr-2" href="{% url 'edit_workshop' workshop.id %}">EDIT</a>
                                        <a class="small admin-link text-danger pl-2" role="button" data-toggle="modal"
                                        data-target="#deleteWorkshopModal{{ workshop.id }}">DELETE</a>
                                        {% endif %}
                                    </div>
                                    <!-- Delete modal -->
                                    {% include 'workshops/includes/delete_workshop_modal.html' %}
                                </div>
                            </div>
                            <!-- End of card footer -->
                        </div>
                        <!-- End of workshop card -->
                    </div>
                    {% endfor %}
                    <!-- End of foor loop-->
                    {% else %}
                    <div class="col mb-5 text-center">
                        <p class="mb-1"><em>Sorry, there are no workshops planned at the moment...</em></p>
                        <p class="mt-0"><em>Check again later or have a look around in our shop!</em></p>
                        <a href="{% url 'products' %}" class="action-btn btn-sm btn rounded-3 py-2 mb-5" role="button" aria-label="Go to shop page">Browse products</a>
                    </div>
                    {% endif %}
                </div>
            </div>
        </div>
</section>

<!-- Back to top button -->
<div class="back-to-top">
    <a id="top-link" class="d-flex h-100" role="button"
        aria-label="Click the button to go back to the top of the page."><i
            class="bi bi-arrow-up-square top-icon px-2"></i></a>
</div>

{% endblock %}

{% block postloadjs %}
{{ block.super }}
<!-- Back to top button -->
<script type="text/javascript">
    $('#top-link').click(function (e) {
        window.scrollTo(0, 0);
    })
</script>

<!-- Sorting within select dropdown box -->
<!-- Credit: Code Institute, Boutique Ado walkthrough, modified -->
<script type="text/javascript">
    $('#workshop-sorting-selector').change(function() {
        var selector = $(this);
        var currentUrl = new URL(window.location);
        var sort;
        var direction;

        var selectedVal = selector.val();
        if (selectedVal != "reset") {
            if (selectedVal == "workshop_fee_desc") {
                sort = "workshop_fee";
                direction = selectedVal.split("_")[2];
            } else 
                if (selectedVal == "workshop_fee_asc") {
                sort = "workshop_fee";
                direction = selectedVal.split("_")[2];
            } else {
                sort = selectedVal.split("_")[0];
                direction = selectedVal.split("_")[1];
            }

            currentUrl.searchParams.set("sort", sort);
            currentUrl.searchParams.set("direction", direction);

            window.location.replace(currentUrl);
        } else {
            currentUrl.searchParams.delete("sort");
            currentUrl.searchParams.delete("direction");

            window.location.replace(currentUrl);
        }
    });

</script>

{% endblock %}
